{% extends "base.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Flask is a micro web framework written in Python. It is classified as a microframework because 
        it does not require particular tools or libraries.[2] It has no database abstraction layer, 
        form validation, or any other components where pre-existing third-party libraries provide common functions.</p>

    <div class="row-featurette">
        <div class="col-md-7">
            <h3>Documentation</h3>
            <p>Welcome to Flask’s documentation. Get started with Installation and then get an overview with the Quickstart. There is also a more detailed Tutorial that shows how to create a small but complete application with Flask. Common patterns are described in the Patterns for Flask section. The rest of the docs describe each component of Flask in detail, with a full reference in the API section.</p>
        </div>
        <div class="col-md-5">
            <img src="https://cms-assets.tutsplus.com/uploads/users/30/posts/16037/preview_image/flask.png" alt="">
        </div>
    </div>
    <div class="row-featurette">
        <div class="col-md-5">
            <img src="https://miro.medium.com/max/800/1*Q5EUk28Xc3iCDoMSkrd1_w.png" alt="">
        </div>
        <div class="col-md-7">
            <h3>Documentation</h3>
            <p>Welcome to Flask’s documentation. Get started with Installation and then get an overview with the Quickstart. There is also a more detailed Tutorial that shows how to create a small but complete application with Flask. Common patterns are described in the Patterns for Flask section. The rest of the docs describe each component of Flask in detail, with a full reference in the API section.</p>
        </div>
    </div>

{% endblock %}